@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(to right, #642b73, #c6426e);
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat';
  color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

@media screen and (max-width: 600px) {
  .app-title {
    font-size: 22px;
  }
}
